/NetbeansTest/nbproject/private/
/NetbeansTest/build/
/Dagsverket/nbproject/private/
/Dagsverket/build/
Dagsverket/src/Login.form

Dagsverket/src/Login.java

Dagsverket/src/dagsverket.form

Dagsverket/src/dagsverket.java

Dagsverket/src/Login.form

Dagsverket/src/dagsverket.form

Dagsverket/src/dagsverket.java
